.departmentsList {
    position: absolute;
    margin: 0;
    left: 30px;
    top: 100px;
    width: 23%;
    /*border: 2px solid red;*/
    background-color: rgb(55, 99, 132);
    font-family: Raleway;
}

.departmentsList th {
    color: white;
    padding: 20px 20px 20px 10px;
    text-align: left;
    font-size: 30px;
}

.departmentsList td {
    padding: 10px 10px 10px 10px;
    font-size: 17px;
}

.departmentsList table td a:hover {
    padding: 10px;
    transition: all 0.2s ease-out 0s;
}

.departmentsList a {
    text-decoration: none;
    color: white;
}

#loadingContainer {
    position: absolute;
    margin: 0;
    top: 100px;
    right: 30px;
    /*border: 2px solid green;*/
    height: 80%;
    width: 66%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#loadingContainer::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

/* optional: show position indicator in red 
::-webkit-scrollbar-thumb {
    background: #FF0000;
}*/