#FooterHeads{
    text-align:left;
    margin-left: 0%;
    font-size: 25px;
    font-family:raleway;
    margin-top: 3%;
}


#FooterSubHeads{
    font-size: 16px;
    font-family: raleway;
}

#TableHeads{
   position: left;
   margin-top:-2%;
   margin-left: 7%;
}

#TableHeads a {
    color: black;
    text-decoration: none;
}

#IconHeads{
    text-align:center;
    margin-left: 10%;
}

#BottomHeads{
    text-align: center;
    font-size:20px;
    font-family:raleway;
    background-color: black;
    color: white;
    height: 6%;
    width: 102%;
    margin-left: -1%;
    padding-top: 0.5%;
}

#FooterSubHeads a {
    color: black;
    text-decoration: none;
}

#IconHeads a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 768px) {
     #BottomHeads{
        width: 109%;
        margin-left: -5%;
    }
}