#zoomIn {
    display: none;
    position: fixed;
    margin: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 30;
}

#zoomContent {
    position: relative;
    margin: 0;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
}

#closeBtn {
    position: fixed;
    margin: 0;
    top: 2%;
    right: 2%;
    font-size: 25px;
    font-weight: bold;
    color: white;
}