html {
    font-family: "Lato","Playfair Display","Raleway";
    min-width:540px;
}

.header {
    position: fixed;
    margin: 0;
    width: 100%;
    height: 10.5%;
    left: 0%;
    top: 0%;
    z-index: 10;
    background-image: linear-gradient(to right, rgb(55, 99, 132), rgb(245, 207, 148)); 
    font-family: 'Raleway', sans-serif;
    display: none;
}

.header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
/*
.mainNavigationOptions {
    position: fixed;
    margin: 0;
    left: 0;
    top: 10%;
    background: white;
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    width: 100%;
    box-shadow: 1px 0px 10px #888888;
    z-index: 10;
}
*/
#navbarLinks {
    display: flex;
    justify-content: space-between;
    padding-right: 65px;
    padding-top: 5px;
}

#searchLogo {
    float: right;
    margin-right: 20px;
    margin-top: 10px;
}

#searchText {
    position: absolute;
    margin: 0;
    top: 10;
    right: 10;
}

.searchDialog {
    position: fixed;
    margin: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 100;
    text-align: center;
    display: none;
	font-family: "Raleway";
}

.searchDialog h1{
    color: white;
    position: fixed;
    margin: 0;
    top: 20%;
    left: 42%;
    font-size: 70px;
}

.searchDialog i {
    color: white;
    font-size: 30px;
}

#clearButton {
    position: fixed;
    margin: 0;
    top: 49.2%;
    left: 66.7%;
    color: white;
}

#searchButton {
    position: fixed;
    margin: 0;
    top: 49.3%;
    left: 30.3%;
    z-index: 5;
}

.searchDialog button {
    background-color: transparent;
    border: none;
    outline: none;
}

.searchDialog button:hover {
    cursor: pointer;
}

#searchBox {
    position: fixed;
    margin: 0;
    top: 48%;
    left: 30%;
    width: 40%;
    height: 50px;
    font-size: 22px;
    background-color: rgba(0, 0, 0, 0.0);
    color: white;
    border: 2px solid white;
    border-radius: 30px;
    /*border-bottom: 2px solid white;*/
    outline: none;
    padding-left: 45px;
    padding-right: 40px;
}

#searchBox:focus {
    outline: none;
}

#searchResult {
    display: none;
    position: fixed;
    margin: 0;
    top: 56%;
    left: 30%;
    width: 40%;
}

/*
.mainNavigationOptions a{
    text-decoration: none;
    color: black;
    padding: 3px 30px;
}
.mainNavigationOptions a:hover{
    /*text-decoration: underline;
    color: black;
}
*/
.active {
    text-decoration: none;
    border-bottom: 3px solid rgb(53,100,127);
    border-radius: 3px;
}