html {
    background-color: #fff;
    font-family: "Raleway";
}
/* Universal CSS */
body {
    font-family: "Raleway";
    font-size: 1.3em;
    letter-spacing: 0.04rem;
    margin:0;
}

.container-fluid {
    padding: 0 0;
}

h1 {
    font-family: "Playfair Display";
    font-weight: normal;
    font-size: 2.5em;
    font-style: italic;
}

/* Important Links Blackbar */
#headerImportantLinks {
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: black;
    text-align: center;
    color: white;
}

#headerImportantLinks a {
    letter-spacing: normal;
    text-decoration: none;
    color: white;
    font-family: "Raleway";
}

#headerResImportantLinks {
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: black;
    text-align: center;
    width: 110%;
    margin-left: -5%;
    display: none;
}

#headerResImportantLinks a {
    color: white;
    letter-spacing: normal;
    text-decoration: none;
    font-family: "Raleway";
}

/* University Description */
#aboutUniversity {
    font-family: "Raleway";
}

#universityDescription h1 {
    text-align:left;
}

#aboutUs {
    background-color: black;
    color: white;
    text-align: justify;
}

#governorBlock { 
    font-family: "Lato";
    padding-left: 30px;
    letter-spacing: normal;
    text-align: center;
}

#governorBlock a {
    color:black;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}

#governorImage {
    border: 5px solid whitesmoke;
    box-shadow: grey 0px 0px 10px;
}

#viceChancellorImage {
    border: 5px solid whitesmoke;
    box-shadow: grey 0px 0px 10px;
}

#universityDescription {
    padding-top: 30px;
}

#readMore {
    width: 100%; 
    text-align: center;
    margin-top: 10px;
}

#readMoreButton {
    font-size: 20px;
    font-family: "Playfair Display";
    font-style: italic;
    color: white;
    padding: 15px 40px;
	background-color: rgb(53, 100, 127);  
    border-radius: 4px;
    text-decoration: none;
}

#aboutUsMobile {
    display: none;
    width: 100%; 
    text-align: center;
}

#aboutUsMobileButton {
    font-size: 20px;
    font-family: "Playfair Display";
    font-style: italic;
    color: white;
    padding: 15px 40px;
	background-color: rgb(53, 100, 127);  
    border-radius: 4px;
    text-decoration: none;
}

/* MLSU By Numbers */
#mlsuByNumbersContainer {
    font-family: "Raleway";
}

#mlsuByNumbersContainer h1 {
    font-family: "Playfair Display";
}

.mlsuByNumbersDesktop {
    display: block;
}

.mlsuByNumbersTablet {
    display: none;
}

.mlsuByNumbersMobile {
    display: none;
}

#mlsuByNumbers h1 {
    text-align: center;
    padding-top: 20px;
}

#numbersDataContainer {
    background-image: linear-gradient(to right, rgb(55, 99, 132), rgb(245, 207, 148));
    padding-top: 20px;
    color: white;
    font-weight: normal;
    font-size: 25px;
}

#responsiveSplitter {
    display:none;
}

#pg{
    padding-left: 40px;
}

/* Notifications */
#notificationsContainer {
    background-color: rgb(230, 230, 230);
    text-align: center;
    font-family: "Raleway";
}

#notificationsContainer h1 {
    text-align: center;
    padding-top: 20px;
    font-family: "Playfair Display";
}

#notificationHead {
    font-size: 1.8rem;
    text-align: left;
    padding-bottom: 20px;
    margin-left: 2rem;
}

#dateLegend {
    background-color: rgb(245, 207, 148);
    color: rgb(55, 99, 132);
    width: 35%;
    margin-left: 5%;
    margin-top: -20%;
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
    text-align: center;
    display: block;
}

#notificationBlock {
    margin-top: 2.5rem;
    border: 2px solid white;
    height: 250px;
    width: 250px;
    background-color: white;
    box-shadow: 2px 2px 20px;
    font-size: 22px;
}

#notificationContent {
    text-align: center;
    background-color: rgb(230, 230, 230);
}

#notificationContent a {
    text-decoration: none;
    color: black;
}

#navNotification {
    border: 3px solid grey;
    text-decoration: none;
    color: black;
    font-size: 30px;
    padding: 0px 10px;
    background-color: white;
}

.navButtons {
    text-align: left;
    margin-left: 3.8rem;
}

/*Departments*/
#departmentsContainer h1 {
    text-align: center;
    padding-bottom: 40px;
    font-family: "Playfair Display";
}

#departments {
    text-align: center;
}

#scienceDepartment {
    padding-bottom: 30px;
    padding-left: 50px;
}

#commerceDepartment {
    padding-bottom: 30px;
}

#humanitiesDepartment {
    padding-bottom: 30px;
}

#scienceDepartment:hover img {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out 0s;
}

#commerceDepartment:hover img {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out 0s;
}

#humanitiesDepartment:hover img {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out 0s;
}

#lawDepartment:hover img {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out 0s;
}

.departmentImgWrapper {
    width: 250px;
    overflow: hidden;
}

/*Gallery*/
#gallery {
    text-align: center;
    background-color:rgb(230, 230, 230);
    padding-right: 100px;
}

#gallery h1 {
    font-size: 80px;
    padding-top: 120px;
    font-family: "Playfair Display";
}

.galleryBackground {
    transform: skewX(-20deg);
    overflow: hidden;
    width:150px;
    height: 400px;
    float: left;
}

.galleryBackground img {
    transform: skewX(20deg);
}

/* Responsive Gallery */
#galleryContainer {
    background-color:rgb(230, 230, 230);
    display:none;
}

#galleryContainer h1 {
    text-align: center;
    padding-bottom: 40px;
}

#mobileGallery {
    text-align: center;
}

.gallerySections {
    padding-bottom: 30px;
}

.gallerySections:hover img {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out 0s;
}

.galleryImgWrapper {
    width: 250px;
    overflow: hidden;
}

#imageGallery:hover img {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out 0s;
}

#videoGallery:hover img {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out 0s;
}

#virtualTour:hover img {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out 0s;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
   
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
}

@media screen and (max-width:1089px){
    #responsiveSplitter {
        display:inline;
    }
    
    #gallery {
        display: none;
    }
    
    #galleryContainer {
        display: inline;
    }
}

@media screen and (max-width:768px){
    #desktopOnly {
        display: none;
    }
    #headerLinks {
        display: none;
    }
    #governorBlock {
        width: 100%;
        margin-top: 50px;
        display: inline-flex;
    }

    #headerImportantLinks {
        display: none;
    }

    #headerResImportantLinks {
        display: block;
    }

    .mlsuByNumbersDesktop {
        display: none;
    }

    .mlsuByNumbersTablet {
        display: block;
    }

    .mlsuByNumbersMobile {
        display: none;
    }

    #notificationHead {
        margin-left: 5rem;
    }
}


/* Responsive Desktop */
/*
 @media screen and (max-width:1919px){


/* Responsive Modern Phones and Tablets */
/*
@media screen and (max-width:1090px){


@media screen and (max-width:870px){


/* Responsive Old Phones */
/*
@media screen and (max-width:520px){