.cardView {
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    font-family: Raleway;
}

.cardView a {
    text-decoration: none;
    color: rgb(55, 99, 132);
    font-size: 15px;
}

#closeButton {
    text-align: right;
}

#closeButton a {
    color: black;
}

#screenReaderContainer {
    display: none;
}

#screenReaderLinks {
    position: relative;
    margin: 0;
    top: 30%;
    left: 0;
    height: 35%;
    width: 100%;
    background-color: white;
}

#academicsLinksContainer {
    display: none; 
}

#academicsLinks {
    position: relative;
    margin: 0;
    top: 20%;
    left: 0;
    height: 72%;
    width: 100%;
    background-color: white;
}

#administrationLinksContainer {
    display: none;
}

#administrationLinks {
    position: relative;
    margin: 0;
    top: 30%;
    left: 0;
    height: 35%;
    width: 100%;
    background-color: white;
}

#facultyLinksContainer {
    display: none;
}

#facultyLinks {
    position: relative;
    margin: 0;
    top: 20%;
    left: 0;
    height: 72%;
    width: 100%;
    background-color: white;
}

#studentsLinksContainer {
    display: none;
}

#studentsLinks {
    position: relative;
    margin: 0;
    top: 30%;
    left: 0;
    height: 35%;
    width: 100%;
    background-color: white;
}

#mediaLinksContainer {
    display: none;
}

#mediaLinks {
    position: relative;
    margin: 0;
    top: 30%;
    left: 0;
    height: 35%;
    width: 100%;
    background-color: white;
}

#helplineLinksContainer {
    display: none;
}

#helplineLinks {
    position: relative;
    margin: 0;
    top: 30%;
    left: 40%;
    height: 35%;
    width: 20%;
    background-color: white;
}

#affiliatedCollegesLinksContainer {
    display: none;
}

#affiliatedCollegesLinks {
    position: relative;
    margin: 0;
    top: 30%;
    left: 0;
    height: 35%;
    width: 100%;
    background-color: white;
}

#affiliatedCollegesLinks div {
    padding: 1px;
}

#contactUsLinksContainer {
    display: none;
}

#contactUsLinks {
    position: relative;
    margin: 0;
    top: 30%;
    left: 0;
    height: 35%;
    width: 100%;
    background-color: white;
}

#contactUsLinks div {
    padding: 1px;
}

#aboutUsLinksContainer {
    display: none;
}

#aboutUsLinks {
    position: relative;
    margin: 0;
    top: 30%;
    left: 0;
    height: 35%;
    width: 100%;
    background-color: white;
}

.linkClicked {
    border-bottom: 2px solid white;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
}

.scrollLinkClicked {
    border-bottom: 2px solid rgba(55, 99, 132, 0.65);
    box-shadow: 0 8px 6px -6px rgba(55, 99, 132, 0.65);
}