html {
    font-family: "Lato","Playfair Display","Raleway";
    min-width:540px;
    -webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

.mainImageSlider {
    position: absolute;
    margin: 0;
    left: 0;
    top: 15%;
    width:179.7%;
    height: 40%;
    text-align: center;
}

.mainImageSlider a{
    text-decoration: none;
    color: black;
}

#slideLeft {
    position: absolute;
    margin: 0;
    left: 0;
    top: 40%;
    background-color: rgb(150, 140, 140);
    font-size: 40px;
    font-weight: bold;
}

#slideRight {
    position: absolute;
    margin: 0;
    right: 0;
    top: 40%;
    background-color: rgb(150, 140, 140);
    font-size: 40px;
    font-weight: bold;
}

.headerImportantLinks {
    position: absolute;
    margin: 0;
    left: 0;
    top: 60%;
    text-align: center;
    width: 180%;
}

.headerImportantLinks a {
    text-decoration: none;
    color: rgb(59, 59, 189);
    background-color: burlywood;
    border-radius: 5px;
    font-weight: bold;
    font-size: 30px;
    padding: 5px;
    line-height: 200%;
}

#governorBlock {
    width: 25%;
    padding: 20px;
    font-size: 35px;
}

.aboutUniversity {
    position: absolute;
    margin: 0;
    left: 0;
    top: 100%;
    text-align: center;
    width: 180%;
}

.aboutUniversity a {
    text-decoration: none;
    color: black;
}

#universityDescription {
    padding: 20px;
    text-align: center;
    font-size: 40px;
}

#universityDescription h1 {
    font-size: 70px;
}

#readMoreButton {
    font-size: 30px;
    color: white;
    padding: 10px 20px;
    background-color: rgb(55, 99, 132);  
    border-radius: 4px;
}

.mlsuByNumbers {
    position: absolute;
    margin: 0;
    top: 415%;
    left: 0;
    width: 179.7%;   
    text-align: center;     
}

.mlsuByNumbers h1 {
    font-size: 50px;
}

.mlsuByNumbers table {
    background-image: linear-gradient(to right, rgb(55, 99, 132), rgb(245, 207, 148));
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

#numberCircle {
    border: 10px solid white;
    border-radius: 50%;
    height: 130px;
    width: 130px;
    margin-left: 20%;
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: normal;
    line-height: 160%;
}

.notifications {
    position: absolute;
    margin: 0;
    left: 0;
    top: 466%;
    text-align: center;
    width: 179.7%;
    background-color: lightgray;
}

.notifications h1 {
    font-size: 50px;
}

.notifications table {
    text-align: center;
}

#notificationHead {
    font-size: 40px;
    text-align: left;
    padding-left: 30px;
    font-weight: bold;
}

legend {
    background-color: rgb(245, 207, 148);
    color: rgb(55, 99, 132);
    width: 30%;
    height: 40%;
    margin-left: 5%;
    margin-top: -20%;
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
    text-align: center;
}

#notificationBlock {
    border: 2px solid white;
    height: 350px;
    background-color: white;
    box-shadow: 2px 2px 20px;
    font-size: 50px;
}

#notificationBlock legend span {
    font-size: 70px;
}

#notificationContent {
    width: 25%;
    padding: 120px 30px 40px 30px;
}

#navNotification {
    border: 5px solid grey;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 40px;
    padding: 10px 20px;
    background-color: white;
}

#leftNav {
    text-align: right;
    padding-right: 1%;
    padding-top: 0px;
    padding-bottom: 50px;
}

#rightNav {
    text-align: left;
    padding-left: 1%;
    padding-top: 10px;
    padding-bottom: 50px;
}

.departments {
    position: absolute;
    margin: 0;
    top: 660%;
    left: 0;
    width: 179.7%;
    text-align: center;
}

.departments table {
    text-align: center;
}

.gallery {
    position: absolute;
    margin: 0;
    top: 705%;
    left: 0;
    width: 179.7%;
    text-align: center;
    background-color: lightgray;
}

.gallery h1 {
    font-size: 70px;
}

.gallery table {
    text-align: center;
}

#galleryBackground {
    /*clip-path: polygon(0 0, 100% 0, 75% 100%, -25% 100%);*/
    transform: skew(340deg);
    overflow: hidden;
}

#galleryImage {
    transform: skew(20deg);
    margin-left: -100%;
    width: 300%;
}

#galleryVideo {
    transform: skew(20deg);
    margin-left: -100%;
    width: 300%;
}

#galleryVirtualTour {
    transform: skew(20deg);
    margin-left: -30%;
    width: 300%;
}

.footer {
    position: absolute;
    margin: 0;
    top: 755%;
    left: 0;
    width: 179.7%;
}

#footerHead {
    font-size: 40px;
    font-weight: bold;
}

#footerImportantLinks {
    line-height: 150%;
    font-size: 40px;
}

#footerAddress {
    line-height: 120%;
    font-size: 40px;
}

#footerLinks {
    line-height: 130%;
    font-size: 30px;
}

#socialMediaLinks {
    text-align: center;
}

#socialMediaLinks a{
    text-decoration: none;
}

#aboutUs {
    background-color: black;
    color: white;
    text-align: center;
}