html {
    font-family: "Lato","Playfair Display","Raleway";
    min-width:540px;
}

header {
    position: fixed;
    margin: 0;
    width: 100%;
    left: 0%;
    top: 0%;
    background: black;
    z-index: 10;
}

.mainNavigationOptions {
    position: fixed;
    margin: 0;
    left: 0;
    top: 4.2%;
    background: white;
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    width: 100%;
    box-shadow: 1px 0px 10px #888888;
    z-index: 10;
}

#searchLogo {
    float: right;
    margin-right: 20px;
    margin-top: 10px;
}

.mainNavigationOptions a{
    text-decoration: none;
    color: black;
    padding: 3px 30px;
}
.mainNavigationOptions a:hover{
    /*text-decoration: underline;
    color: black;*/
}

.active {
    text-decoration: none;
    border-bottom: 3px solid rgb(53,100,127);
    border-radius: 3px;
}